@import '~antd/dist/antd.dark.css';

body {
    padding: 0;
}

.sider {
    height: 100vh;
    overflow: auto;
    position: fixed;
    right: 0;
}

.header {
    width: calc(100% - 315px);
    z-index: 1;
    position: fixed;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.content {
    margin-right: 315px;
    margin-top: 64px;
    /* margin: 24px 16px 0; */
    overflow: initial;
}

.img {
    max-width: none;
    max-height: none;
    margin-right: 15px;
    margin-left: 15px;
}

.img-container {
    overflow-x: scroll;
}

.zoom {
    height: 300px;
    width: 300px;
}

.coordinate-info {
    margin: 15px;
    width: 300px;
}

.record-list {
    width: 300px;
}

.empty {
    margin-top: 300px;
}
