@import '~antd/dist/antd.dark.min.css';

body {
    padding: 0;
}

.sider {
    position: absolute;
    height: 100%;
    overflow: auto;
    right: 0px;
    top: 0px;
}

.header {
    position: absolute;
    width: calc(100% - 315px);
    overflow: auto;
    left: 0px;
    top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.content {
    position: absolute;
    width: calc(100% - 315px);
    height: calc(100% - 64px);
    overflow: auto;
    left: 0px;
    top: 64px;
}

.img-container {
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 60px);
    overflow: auto;
    left: 10px;
    top: 50px;
}

.img-cover {
    position: absolute;
    z-index: 2;
    max-width: none;
    max-height: none;
}

.img {
    position: absolute;
    z-index: 1;
    max-width: none;
    max-height: none;
}

.zoom-content {
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: 1;
}

.zoom-cursor {
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: 2;
}

.coordinate-info {
    margin: 315px 15px 15px 15px;
    width: 300px;
}

.record-list {
    width: 300px;
}

.empty {
    margin-top: 300px;
}
